<html>
<head>Enter the new task</head>
<title>Adding</title>
<body>
<form action='/add' method="post">
 <input type=text name="item">
 <input type=submit name ="add1" value="ADD">
 
 </form>

</body>
</html>
