<html>
<head>Mark as done</head>
<body>
<form action="/complete" method="post">
<input type="text" name="item1">
<input type=submit name ="complete" value="complete">
</form>
<ul>
<% @tasks.each do|item| %>
<li><%=item %></li>
<% end %>
</ul>
</body>
</html>
