<html>
<head>ITEMS TO DO</head>	
<body bgcolor="gray">
 	<br>
	<a href='/'>Add items</a> &nbsp
	<a href='/complete'>Mark task as done</a> &nbsp;
	<a href='/completed'>Show completed tasks</a> &nbsp;
	<a href='/pending'>Show pending tasks</a> &nbsp;
	<a href='/delete'>Delete a task</a><br/>
<%=yield %>
</body>
</html>
