<html>
<head>TASKS<br></head>
<title>Todo list</title>
<body>
<form>
	<input type=button name ="Add" value="add" onclick="location.href='form.html';">
	<input type=button name ="complete" value="complete" onclick="location.href='form1.html';">
	<input type=button name ="complete" value="show completed" onclick="location.href='completed.html';">
</form>
<h3>Pending tasks</h3> <br>
 <br>
 </body>
</html>
